<!DOCTYPE html>
<html ng-app="20sq-proto">
  <head>

    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <meta name="viewport" content="initial-scale=1" />

  </head>

  <body ng-class="{'bg-dark': darkBackground}">

    <div class="container" ui-view></div>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </body>

</html>
